body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background-color: white;
  padding: 10px;
}
header {
  font-size: 4rem;
  text-align: center;
  font-weight: bold;
  border-bottom: 1px solid gray;
  color: rgb(108, 106, 106);
}
#add-task-list {
  border-bottom: 1px solid gray;
}

.desp {
  padding: 10px;
  height: 10%;
  border-bottom: 1px solid gray;
}

textarea {
  width: 100%;
  border: none;
  font-size: 1rem;
  background: transparent;
}
label {
  font-size: 1.7rem;
  font-weight: bold;
  font-style: italic;
  display: block;
  color: rgb(108, 106, 106);
}

.categories {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid gray;
}
.categories div {
  width: 50%;
}
.date {
  border-left: 1px solid gray;
}
select {
  width: 95%;
  background: transparent;
  border: none;
  font-size: 1rem;
}
input[type="date"] {
  width: 95%;
  background: transparent;
  border: none;
  font-size: 1rem;
}

#button {
  text-align: center;
  margin: 4px;
}
button[type="submit"] {
  height: 8%;
  width: 20%;
  font-size: 1.4rem;
  color: white;
  border: none;
}
button[form="add-task-list"] {
  background-color: rgb(72, 72, 72);
}
button[form="delete-task-list"] {
  background-color: rgb(150, 8, 8);
}
ul {
  padding: 0;
  align-items: center;
}
li {
  display: flex;
  justify-content: center;
  padding: 10px;
  list-style: none;
}
.task-list-items {
  width: 60%;
  border-bottom: 1px solid gray;
}
.checkbox-container {
  display: inline-block;
}
.display {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.display-task{
    width: 70%;
}
p {
  margin: 2px;
}
.desc {
  font-size: 1.7rem;
  font-weight: bold;
  width: 50%;
}
.date {
  font-weight: bold;
}
.category {
  height: 35px;
  width: 105px;
  font-size: 1.5rem;
  text-align: center;
  color: white;
  background-color: blueviolet;
}
